/* LOGO */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  
  .logo__inter {
    color: $accent-color;
  }
  
  .logo__name {
    color: #000000;
  }
  
  .logo__studia {
    color: $primary-bg-color;
  }
  
  .footer__logo {
    margin-bottom: 20px;
  }
  